* {
    margin: 0;
    padding: 0;
    font-family: 'Gamja Flower', cursive;
    color: black;
}

body {
    height: 100vh;
    background: #F5F5DC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header {
    font-size: 70px;
    text-align: center;
}

.header-hr {
    border-style: dotted;
    border-top: 2px black;
    width: 500px;
    margin: 0 auto;
}


.content-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}

.option-images {
    display: flex;
    justify-content: space-evenly;
}

.img-btn {
    border: none;
    background: none;
    transition: transform 0.3s ease-in-out;
}

.img-btn:hover {
    cursor: pointer;
    transform: translateY(-15px);
}

.img-btn img {
    width: 250px;
    height: 200px;
}

.play-btn {
    display: flex;
    justify-content: center;
}

.play-btn button {
    font-size: 40px;
    background-color: rgb(225, 185, 134);
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
}

.play-btn button:hover {
    cursor: pointer;
    background-color: rgb(207, 160, 74);
}


.content-2 {
    flex: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.score-card {
    display: flex;
    flex-direction: column;
}

.card-heading {
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
}

.score {
    font-size: 120px;
    display: flex;
    justify-content: center;
    gap: 740px;

}

.play-msg {
    text-align: center;
    font-size: 50px;
}

.content-2 .img-btn img {
    width: 200px;
    height: 150px;
}

.result-msg {
    font-size: 50px;
    text-align: center;
}


.content-3-human {
    flex: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.content-3-computer {
    flex: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.greet-msg {
    font-size: 90px;
    margin-top: -30px;
}

.winner-declare {
    font-size: 120px;
    margin-top: -20px;
}

.meme-img {
    display: flex;
    gap: 60px;
}

.meme-img img {
    border: 2px solid black;
    border-radius: 15px;
}

.play-again-btn button {
    margin-top: 30px;
    font-size: 40px;
    background-color: rgb(225, 185, 134);
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
}

.play-again-btn button:hover {
    cursor: pointer;
    background-color: rgb(207, 160, 74);
}


.footer-hr {
    border-style: dotted;
    border-top: 2px black;
    width: 500px;
    margin: 0 auto;
}

.footer {
    font-size: 40px;
    text-align: center;
}